@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-background: #181818;
    --color-background-2: #2D2D2D;
    --color-point-1: #72F496;
    --color-point-2: #7853F6;
    --color-graywhite: #EDEDED;
    --font-point: Cafe24Ssurround;
    --font-basic: Pretendard-Regular;
}

body {
    background-color: var(--color-background);
}

.login_wrapper {
    padding: 90px 45px;
    margin: 200px auto;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: var(--color-graywhite);
    margin-bottom: 30px;
}

form input {
    font-size: 15px;
    width: 280px;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 15px;
    margin-bottom: 25px;
    border-radius: 25px;
}

button {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 200px;
    color: var(--color-graywhite);
    cursor: pointer;
    background: var(--color-point-2);
    text-align: center;
    transition: all 0.9s;
}

.login_btn:hover {
    box-shadow: 240px 0 0 0 rgba(0, 0, 0, 0.25) inset,
    -240px 0 0 0 rgba(0, 0, 0, 0.25) inset;
}

.go_register {
    font-size: 20px;
    margin-top: 50px;
    color: var(--color-graywhite);

}
.go_register a {
    color: var(--color-graywhite);
    text-decoration: none;
}

@media (max-width: 500px){
    .login_wrapper {
    padding: 90px 27.5px;
    margin: 190px auto;
    text-align: center;
}

h1 {
    font-size: 25px;
    color: var(--color-graywhite);
    margin-bottom: 20px;
}

form input {
    font-size: 14px;
    width: 195px;
    outline: none;
    border: 1px solid #fff;
    padding: 6px 7.5px;
    margin-bottom: 16.5px;
    border-radius: 16.5px;
}

.login_btn {
    font-size: 14px;
    margin-top: 14px;
    padding: 7px 0;
    border-radius: 15px;
    outline: none;
    border: none;
    width: 150px;
    color: var(--color-graywhite);
    cursor: pointer;
    background: var(--color-point-2);
    text-align: center;
    transition: all 0.9s;
}

.login_btn:hover {
    box-shadow: 170px 0 0 0 rgba(0, 0, 0, 0.25) inset,
    -170px 0 0 0 rgba(0, 0, 0, 0.25) inset;
}

.go_register {
    font-size: 15px;
    margin-top: 25px;
    color: var(--color-graywhite);

}
.go_register a {
    color: var(--color-graywhite);
    text-decoration: none;
}
}