<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/addpage.css" />
  </head>
  <style>

  </style>
  <script>
    $(document).ready(function () {
      showUrl();
      // showItem()
      // getItemFromUrl();
    });
    let imgSrc =
      "https://images.unsplash.com/photo-1510917065317-aa26965fe730?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5MjY0ODIyfHxlbnwwfHx8fA%3D%3D&w=1000&q=80.jpg";
    const isValidUrl = $("#url").val() !== "";

    function showUrl() {
      $("#url").val("");
      $("#url_wrapper").show() && $("#item").hide();
    }
    function showItem() {
      $("#url_wrapper").hide() && $("#item").show();
    }
    function onChangeHandler() {
      // const isvalid = $("#url").val() !== "";
    }
    function getItemFromUrl() {
      $.ajax({
        type: "POST",
        url: "/addpage/url",
        // data: { url_give: $("#url").val() },
        data: { url_give: "https://smartstore.naver.com/buybicycle/products/5480169695?NaPm=ct%3Dlaj1aga8%7Cci%3D0a293bd47c84e9c983a20eef0b14f5963f019f69%7Ctr%3Dslsc%7Csn%3D270658%7Chk%3D71942435e3057d0407776c97a23f73ba489c0fe8" },


        success: function (response) {
          console.log("response", response);
          console.log(response["image"]);
          $("#item_title").text(response["title"]);
          $("#item_price").text(response["price"]);
          $("#item_img").attr("src", response["image"]);
          showItem();
        },
      });
    }
    function saveItem() {
      console.log("img", $("#item_img").attr("src"));
      console.log("item_title", $("#item_title").text());
      console.log("item_price", $("#item_price").text().replaceAll(",", ""));
      console.log("item_date", $("#item_date").val());
      console.log("item_months", $("#item_months").val());
      $.ajax({
        type: "POST",
        url: "/addpage/adding",
        data: {
          img_give: $("#item_img").attr("src"),
          title_give: $("#item_title").text(),
          price_give: Number($("#item_price").text().replaceAll(",", "")),
          date_give: $("#item_date").val(),
          months_give: $("#item_months").val(),
        },
        success: function (response) {
          alert("저장 완료 !");
        },
      });
    }
    function cancelAdding() {
      showUrl();
    }
  </script>
  <body>
    <div class="add_wrapper">
      <header><h1>Flex !</h1></header>
      <main>
      <div class="url_wrapper" id="url_wrapper">
        <h2>Flex url :</h2>
        <input
          id="url"
          value="https://smartstore.naver.com/caseof/products/4994310522?NaPm=ct%3Dlahsevsg%7Cci%3Dba2ef2fd20e0fb2884ec9f0c58c59ef1f35eacf9%7Ctr%3Dsls%7Csn%3D1134409%7Chk%3D2e258a65fa209537def1ecae190c34ecf1300d11"
          onkeydown="onChangeHandler()"
          autocomplete="off"
        >
        <button onclick="getItemFromUrl()">확인</button>
      </div>
      <div class="item_wrapper" id="item">
        <div class="item_container">
        <div class="img_wrapper" id="img_wrapper">
          <img id="item_img" class="item_img" />
        </div>
        <ul class="info_container">
          <li><span>제품명 :</span> <span id="item_title"></span><br/></li>
          <li><span>금액 : </span><span id="item_price"></span><br/></li>
          <li><span>구매일 :</span> <input id="item_date" type="date" /><br/></li>
          <li><span>할부 : </span><input id="item_months" type="number" placeholder="할부 기간을 써주세요!" /></li>
        </ul>
        <div class="btn_wrapper">
          <button class="btn" id="save" onclick="saveItem()">저장</button>
          <button class="btn" id="cancel" onclick="cancelAdding()">취소</button>
        </div>
      </div>
      </div>
    </div>
  </main>
    <!-- <div class="graybackground"></div> -->
  </body>
</html>
