<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  CSS연결    -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>사치의 즐거움</title>

</head>
<body>
<div class="register_wrapper">
    <h1>회원가입</h1>
    <form class="register_form">
        <input type="text" id="register_id" name="id" placeholder="ID">
        <div id="verify_id" class="msg"></div>
        <button id="over_btn" class="overlap_btn" type="button" onclick="id_test()" disabled>중복확인</button>
        <input type="password" id="register_pwd1" name="id" placeholder="PASSWORD">
        <div id="verify_pwd1" class="msg"></div>
        <input type="password" id="register_pwd2" name="id"
               placeholder="RE-ENTER PASSWORD">
        <div id="verify_pwd2" class="msg"></div>
        <button id="register_btn" class="register_btn" type="button" onclick="register()" disabled>가입하기</button>
    </form>
    <div class="go_login">
        <a href="{{ url_for('login.index') }}">로그인</a>
    </div>
</div>
<!--  JS연결    -->
<script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>

</body>
</html>

